<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Trainline Demo Test Suite" parallel="tests" thread-count="1">
	<test name="Ticket Booking" >
		 <classes>
            <class name="testRunner.TrainlineRunner"/>
        </classes>
	</test>
</suite>